# 1.아래문제를 해결하여 제출 (report3_성명)
- 5명의 id,pwd(문자열),age(정수형),sex(범주형)를 저장할 수 있는 dataframe 생성
- Series의dict이용하여 생성
- indx : id
- column : pwd,age,sex

In [1]:
import numpy as np
import pandas as pd
from IPython.display import display

### dataframe 생성

In [36]:
index = ['gico','gyungja','rhwmrhwm','ngh6931','ngh1995']
df = pd.DataFrame({'pwd': pd.Series(['asd123','asd159','qwe159','zse161','zvs111'],index=index,dtype='str'),
                   'age': pd.Series([10,20,25,30,40], index=index,dtype='int32'), 
                   'sex': pd.Categorical(["M","F","M","F","M"])})
display(df)
#데이터프레임 타입
print(df.dtypes)

             pwd  age sex
gico      asd123   10   M
gyungja   asd159   20   F
rhwmrhwm  qwe159   25   M
ngh6931   zse161   30   F
ngh1995   zvs111   40   M

pwd      object
age       int32
sex    category
dtype: object

# 2. 1에서 생성된 데이터프레임을 이용하여 선택 및 추출 처리
## (1)특정 id, 특정 pwd 추출
## (2)상위 3명만 추출 (loc, iloc 사용)
## (3)나이와 성별만 추출
## (4)나이가 20대만 추출
## (5)성별이 male(남)인 경우만 추출
## (6)나이가 30미만인 여성만 추출

### (1)특정 id, 특정 pwd 추출

In [37]:
print("아이디=",df.index)
#특정 id 추출
print("id[0]=",df.index[0])
print("id[1]=",df.index[1])
print("id[2]=",df.index[2])
print("id[3]=",df.index[3])
print("id[4]=",df.index[4])

#특정 pwd 추출
print("패스워드=",df.pwd)
print("pwd[0]=",df.pwd[0])
print("pwd[1]=",df.pwd[1])
print("pwd[2]=",df.pwd[2])
print("pwd[3]=",df.pwd[3])
print("pwd[4]=",df.pwd[4])

아이디= Index(['gico', 'gyungja', 'rhwmrhwm', 'ngh6931', 'ngh1995'], dtype='object')
id[0]= gico
id[1]= gyungja
id[2]= rhwmrhwm
id[3]= ngh6931
id[4]= ngh1995
패스워드= gico        asd123
gyungja     asd159
rhwmrhwm    qwe159
ngh6931     zse161
ngh1995     zvs111
Name: pwd, dtype: object
pwd[0]= asd123
pwd[1]= asd159
pwd[2]= qwe159
pwd[3]= zse161
pwd[4]= zvs111

### (2)상위 3명만 추출 (loc, iloc 사용)

In [38]:
#loc 사용
print("df.loc[['gico','gyungja','rhwmrhwm']]=\n",df.loc[['gico','gyungja','rhwmrhwm']])
#iloc 사용
print("df.iloc[0:3]\n",df.iloc[0:3])

df.loc[['gico','gyungja','rhwmrhwm']]=
              pwd  age sex
gico      asd123   10   M
gyungja   asd159   20   F
rhwmrhwm  qwe159   25   M
df.iloc[0:3]
              pwd  age sex
gico      asd123   10   M
gyungja   asd159   20   F
rhwmrhwm  qwe159   25   M

### (3)나이와 성별만 추출

In [39]:
#나이
print("df['age']=\n",df['age'])
#성별
print("df['sex']=\n",df['sex'])

df['age']=
 gico        10
gyungja     20
rhwmrhwm    25
ngh6931     30
ngh1995     40
Name: age, dtype: int32
df['sex']=
 gico        M
gyungja     F
rhwmrhwm    M
ngh6931     F
ngh1995     M
Name: sex, dtype: category
Categories (2, object): [F, M]

### (4)나이가 20대만 추출

In [42]:
print("나이가 20대만 추출=\n", df[(df.age >= 20) & (df.age < 30)])

나이가 20대만 추출=
              pwd  age sex
gyungja   asd159   20   F
rhwmrhwm  qwe159   25   M

### (5)성별이 male(남)인 경우만 추출

In [45]:
print("성별이 male인 경우만 추출=\n",df[df.sex == 'M'])

성별이 male인 경우만 추출=
              pwd  age sex
gico      asd123   10   M
rhwmrhwm  qwe159   25   M
ngh1995   zvs111   40   M

### (6)나이가 30미만인 여성만 추출

In [46]:
print("나이가 30미만인 여성만 추출=\n",df[(df.age < 30) & (df.sex == 'F')])

나이가 30미만인 여성만 추출=
             pwd  age sex
gyungja  asd159   20   F